<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="banner">
    <div class="callToAction">
        <h2>DMC Delorean</h2>
        <p>3 Cup holder</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button class="button">Own Today</button>
    </div>
    <div class="imgContainer">
        <img src="/images/vehicles/delorean.jpg" alt="car">
    </div>
</div>
<section class="section">
    <div class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h3>Delorean Upgrades</h3>
        <ul class="upgrade-lists">
            <li>
                <a href="#" >
                    <div class="imCon">
                       <img src="/images/upgrades/flux-cap.png" alt="flux capacitor image"> 
                    </div>
                    <span>Flux Capacitor</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="imCon">
                        <img src="/images/upgrades/flame.jpg" alt="flame decals image">
                    </div>
                    <span>Flame Decals</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="imCon">
                       <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker image"> 
                    </div>
                    <span>Bumper Stickers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="imCon"><img src="/images/upgrades/hub-cap.jpg" alt="hub cap image"></div>
                    <span>Hub Caps</span>
                </a>
            </li>
        </ul>
    </div>
</section>