<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <% res.redirect('/') %>
<% } %>

<%- messages() %>

<% if (data && data.length > 0) { %>
  <%- grid %>
<% } else { %>
  <p>No vehicle available in this classification.</p>
<% } %>